<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pickth.schoolproject">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".project0316.ButtonTestActivity">

        </activity>

        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".project0525.XMLParserTestActivity"></activity>
        <activity android:name=".project0525.DownHtmlTestActivity"></activity>
        <activity android:name=".project0511.BitmapTestActivity"></activity>
        <activity android:name=".project0511.TouchEventTestActivity"></activity>
        <activity android:name=".project0316.EditTextTestActivity"></activity>
        <activity android:name=".project0323.ImageViewTestActivity"></activity>
        <activity android:name=".project0323.CreateLayoutActivity"></activity>
        <activity android:name=".project0323.RelativeLayoutTestActivity"></activity>
        <activity android:name=".project0330.TableLayoutTestActivity"></activity>
        <activity android:name=".project0330.DatePickerTestActivity"></activity>
        <activity android:name=".project0427.OptionsMenuTestActivity"></activity>
        <activity android:name=".project0427.ContextMenuTestActivity"></activity>
        <activity android:name=".project0427.AlertDialogTestActivity"></activity>

        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>